*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}

/* body {
    background-image: url(../img/banner.jpg);
    filter: blur(8px);
    background-position: 0 -80px;
    background-size: cover;
} */

.form-box{
    width: 380px;
    height: 650px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}



.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #2150ec,#46f3e5);
    border-radius: 30px;
    transition: .5s;

}

.sosial-icons{
    margin: 30px auto;
    text-align: center;
}

.sosial-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;

}

.input-group{
    /* top: 180px; */
    margin-top: 5%;
    position: absolute;
    width: 280px;
    transition: .5s;

}

/* .input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #648b83;
    background-image: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.input-group select::-ms-expand {
    display: none;
}

.input-group .select {
    position: relative;
    display: flex;
    width: 17.5em;
    height: 3em;
    line-height: 3;
    background: #648b83;
    overflow: hidden;
    border-radius: .25em;
    margin-top: 5%;
    margin-bottom: 10%;
}

.input-group .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #000;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.input-group .select:hover::after {
    color: #23b499;
} */



.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.formGroup {
    display: flex;
    margin: 0 auto;
}

.formGroup label {
    color: black;
}


.formGroup .label1::selection {
    background-color: transparent;
}


.formGroup .label2::selection {
    background-color: transparent;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0 5% 0 5%;
    border: 1px solid #ccc;
    border-radius: 50%;
    outline: none;
    box-shadow: inset 0 0 5px #ccc;
}

input[type="radio"]:checked {
    background-color: rgb(41, 67, 168);
}

input[type="radio"] {
    font-size: 1.5em;
    color: #ccc;
}

input[type="radio"]:checked{
    color: blue;
}

.Btn {
    margin: 0 auto;
    margin-top: 15%;
    width: 100%;
}

.submit-btn{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #2150ec,#46f3e5);
    border: 0;
    outline: none;
    border-radius: 30px;

}
.chech-box{
    margin: 30px 10px 30px 0;

}
/* span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
} */

#login{
    left: 50px;
}
#Register{
    left: 450px;
}


.checkBox{
    display: flex;
    justify-content: center;
    margin: 16px!important;
}

#checkbox{
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
.text{
    color: #f13a11;
    font-size: 13px;
}