@media screen and (max-width: 1800px) {
    .SelectRow {
        margin-left: 6%;
    }
}

@media screen and (max-width: 991px) {
    .navbar-toggler {
        background-color: white !important;
        /* color: white !important; */
    }

    #search {
        width: 40%;
    }
}

@media screen and (max-width: 770px) {
    .card {
        width: 15rem; 
        margin: 2%;
    }
}

@media screen and (max-width: 530px) {
    .card {
        width: 10rem; 
        margin: 1%;
    }
}

@media screen and (max-width: 508px) {
    .card {
        width: 8rem; 
        margin: 1%;
    }
}

@media screen and (max-width: 415px) {
    #search {
        width: 80%;
    }
}